.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 375px;
    top: 150px;
    left: 50px;
    z-index: 3;
    &__devider {
        height: 100px;
        width: 2px;
        background-color: $side-panel;
    }
    &__descr {
        width: 25px;
        height: 150px;
        font-size: 16px;
        color: $side-panel;
        text-decoration: none;
        span {
            transform: rotate(-90deg) translate(-32%,-279%);
            display: block;
            width: 160px;
        }
    }
}